* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

body {
  background-color: #EBEFC9;
  background-image: radial-gradient(#c5cc87 2px, transparent 2px), radial-gradient(#c5cc87 2px, #EBEFC9 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

header {
  justify-content: center;
  display: flex;
  background-color: #83AF9B;
  box-shadow: 10px 10px black;
}
header nav div a {
  text-decoration: none;
}
header nav div a img {
  height: 100px;
  width: 400px;
}
header nav div ul li {
  margin-left: 50px;
}

/*TITULO DE LA CABECERA GENERAL*/
.titulo-cabecera {
  text-align: center;
  color: #B28939;
  font-size: 4rem;
  background-image: url(../img/fondo-titulo.webp);
  background-position: center;
  height: 450px;
  margin-top: 20px;
  box-shadow: 10px 10px black;
  border-radius: 15px;
}

/*FOOTER*/
.afip {
  left: 10%;
  margin-top: 20px;
  margin-left: 20px;
}

.boton-inicio {
  width: 70px;
  height: 40px;
  background: linear-gradient(to right, #FE4365, #AEE8FB);
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.boton-inicio a {
  text-decoration: none;
}

.contenido-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.derechos {
  left: 40%;
  margin-top: 30px;
  text-align: center;
}

footer {
  margin-top: 50px;
  height: 100px;
}

footer button {
  color: black;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15px;
}

footer img {
  height: 60px;
  width: 60px;
}

.redes {
  right: 20%;
  margin-top: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

.main-contacto .aside-contacto .boton-contacto, .body .aside-galeria button {
  width: 60px;
  height: 30px;
  background-color: #FE4365;
  border-radius: 5px;
}

.introduccion {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.introduccion .video-index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 430px;
  background-color: #83AF9B;
  box-shadow: 10px 10px black;
  border-radius: 15px;
}
.introduccion .video-index iframe {
  border-radius: 15px;
}
.introduccion .nosotros {
  background-color: rgb(124, 137, 146);
  border-radius: 15px;
  text-align: center;
  box-shadow: 10px 10px black;
  padding-top: 20px;
}
.introduccion .nosotros h4 {
  color: #ffffff;
}
.introduccion .descripcion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FE4365;
  height: 60px;
  border-radius: 15px;
  color: #ffffff;
  margin-top: 30px;
  box-shadow: 10px 10px black;
}

.ilustraciones {
  display: flex;
  background-color: #FC9D9A;
  margin-top: 50px;
}
.ilustraciones .ilus {
  gap: 20px;
}
.ilustraciones .ilus .card-index {
  transition: box-shadow 0.3s ease;
  background-color: rgba(225, 225, 225, 0.25);
  width: 300px;
  height: 450px;
  padding: 20px 30px;
  position: relative;
  margin-top: 30px;
  border-radius: 30px;
  cursor: pointer;
}
.ilustraciones .ilus .card-index img {
  width: 225px;
  height: 325px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
.ilustraciones .ilus .card-index p {
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  border-radius: 20px;
}
.ilustraciones .ilus .card-index .bodysuit {
  position: absolute;
  top: 0;
  left: 0px;
  background-color: #FE4365;
  opacity: 0.7;
}

.chat {
  width: 60px;
  position: fixed;
  bottom: 100px;
  right: 30px;
}

.card-index:hover {
  box-shadow: 10px 10px black;
}

.body {
  display: grid;
  grid-template-areas: "intro intro intro intro" "imagen imagen imagen aside";
  grid-template-columns: 25% 25% 25% 25%;
}
.body .introduccion-galeria {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FE4365;
  height: 60px;
  text-align: center;
  border-radius: 20px;
  color: #ffffff;
  margin-top: 40px;
  box-shadow: 10px 10px black;
  grid-area: intro;
  margin-bottom: 30px;
}
.body .galeria-imagenes {
  grid-area: imagen;
}
.body .galeria-imagenes .section {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  justify-content: center;
}
.body .galeria-imagenes .section .card-galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #AEE8FB;
  border-radius: 30px;
  width: 300px;
  height: 520px;
  padding-top: 15px;
  border: 5px solid #76D3DE;
  text-align: center;
  box-shadow: 10px 10px black;
  cursor: pointer;
  transition: transform 0.5s;
  margin-top: 20px;
}
.body .galeria-imagenes .section .card-galeria img {
  width: 270px;
  height: 370px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.body .galeria-imagenes .section .card-galeria h4 {
  color: #FE4365;
  font-size: 18px;
}
.body .galeria-imagenes .section .card-galeria p {
  color: skyblue;
  font-size: 13px;
  width: 100%;
  margin: 0;
}
.body .galeria-imagenes .section .card-galeria div {
  display: grid;
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 110px;
  align-items: center;
}
.body .aside-galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #83AF9B;
  text-align: center;
  grid-area: aside;
  border-radius: 30px;
  margin-right: 30px;
  margin-top: 20px;
  font-size: 25px;
  padding: 10px;
  color: #ffffff;
}
.body .aside-galeria ul {
  padding: 0;
}
.body .aside-galeria ul li {
  list-style-type: none;
}
.body .aside-galeria button {
  font-size: 10px;
  color: #ffffff;
  padding: 5px;
  transition: background-color 0.5s;
}

.card-galeria:hover {
  transform: scale(1.06);
}

main section div .card-galeria button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.cotizador {
  margin-top: 50px;
}

.dato-cotizador {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.importante button {
  background-color: #FE4365;
  width: 400px;
  height: 100px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #ffffff;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  text-align: center;
  font-size: 30px;
  border: none;
}

.importante button a {
  text-decoration: none;
}

.otro-cotizador {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FE4365;
  width: 400px;
  height: 100px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  color: #ffffff;
  padding: 15px;
  text-align: center;
  font-size: 15px;
}

@keyframes otro-cotizador {
  0% {
    background-color: #FE4365;
  }
  25% {
    background-color: #fe9743;
  }
  50% {
    background-color: #fed243;
  }
  100% {
    background-color: #fbfe43;
  }
}
.importante:hover .otro-cotizador {
  animation-name: otro-cotizador;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

table {
  border-collapse: collapse;
  box-shadow: 10px 10px black;
}

th, td {
  border: solid 3px #000000;
  padding: 10px;
  text-align: center;
  color: rgb(247, 72, 72);
}

th {
  color: #ffffff;
  background-color: #FE4365;
  font-size: 20px;
}

tr:hover {
  background-color: #FC9D9A;
  cursor: pointer;
}

.main-ubicacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-ubicacion .mapa {
  margin-top: 40px;
  margin-right: 70px;
  margin-left: 70px;
  border-radius: 10px;
  width: 640px;
  height: 480px;
  background-color: #83AF9B;
  padding: 17px;
  box-shadow: 10px 10px black;
  z-index: 1;
}
.main-ubicacion .boton-ubicacion button {
  height: 40px;
  background-color: #AEE8FB;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
  border: none;
  margin-top: 40px;
}
.main-ubicacion .globo-ubicacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background: radial-gradient(ellipse 200px 100px, skyblue, #FC9D9A);
  color: #ffffff;
  text-transform: uppercase;
  transition: 1s;
  padding: 15px;
  transition-timing-function: ease-out;
  margin-top: 50px;
  text-align: center;
  transform: translateX(-300px);
}

.boton-ubicacion a {
  text-decoration: none;
}

.boton-ubicacion button:hover + .globo-ubicacion {
  transform: translateX(0px);
}

.main-contacto {
  margin-top: 50px;
  display: flex;
}
.main-contacto .aside-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 400px;
  background-color: #83AF9B;
  font-size: 15px;
  margin-right: 100px;
  box-shadow: 10px 10px black;
  border-radius: 15px;
  color: #ffffff;
  text-align: center;
}
.main-contacto .aside-contacto .boton-contacto {
  font-size: 10px;
  color: #ffffff;
  padding: 5px;
  transition: background-color 0.5s;
}
.main-contacto .formulario {
  background-color: white;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 10px 10px black;
  text-align: center;
}
.main-contacto .formulario .form-titulo {
  font-size: 40px;
  margin-bottom: 15px;
}
.main-contacto .formulario .form-conteiner {
  margin-top: 15px;
}
.main-contacto .formulario .form-conteiner .form-imput {
  width: 100%;
  background: none;
  color: grey;
  font-size: 15px;
  padding: 15px;
}

@media (max-width: 991px) {
  body {
    width: 100vh;
  }
  .body .galeria-imagenes .section {
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(3, 1fr);
  }
  .body {
    grid-template-areas: "intro intro intro" "imagen imagen imagen" "aside aside aside";
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  body {
    width: 100vh;
  }
  .body .galeria-imagenes .section {
    grid-template-columns: repeat(1, 350px);
    grid-template-rows: repeat(6, 1fr);
  }
  .body {
    grid-template-areas: "intro" "imagen" "aside";
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
