* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

body {
    background-color: #EBEFC9; 
}

header {
    background-color: #83AF9B;
    box-shadow: 10px 10px black;
}

header nav div a img {
    height: 100px;
    width: 400px;
}

header nav div ul li {
    margin-left: 30px;
    justify-content: space-between;
}

.titulo-cabecera {
    text-align: center;
    color: #B28939;
    font-size: 4rem;
    background-image: url(../img/fondo-titulo.jpg);
    background-position:center;
    height: 450px;
    margin-top: 20px;
    box-shadow: 10px 10px black;
    border-radius: 15px;
}

.boton-inicio {
    width: 70px;
    height: 40px;
    background: linear-gradient(to right, #FE4365, #AEE8FB) ;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.boton-inicio a {
    text-decoration: none;
}


.afip {
    left: 10%;
    margin-top: 20px;
    margin-left: 20px;
}

footer button {
    color: black;
    border-radius: 10px;
    text-decoration: none;
    font-size: 15px;
}

.contenido-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.derechos {
    left: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

footer {
    margin-top: 30px;
    height: 100px;
}

footer img {
    height: 60px;
    width: 60px;
}

.redes {
    right: 20%;
    margin-top: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}
