@media (min-width:992px) {
    .transform-mobile {
        display: none;
    }
}

@media (max-width:991px) {

    /*general*/
    
    .titulo-cabecera {
        height: 350px;
        h1 {
            font-size: 25px;
            font-weight: bold;
        }
    }


    /*galeria*/ 

    .body {
        grid-template-areas:
        "intro intro intro"
        "imagen imagen imagen"
        "aside aside aside"
        ;
        grid-template-columns: 1fr 1fr;
        .galeria-imagenes .section {
            grid-template-columns: repeat(2, 350px);
            grid-template-rows: repeat(3, 1fr);
        }
        .introduccion-galeria {
            height: 100px;
            margin-bottom: 15px;
        }
        .aside-galeria {
            font-size: 13px;
        }
    }
    
    /*ubicacion*/

    .main-ubicacion {
        @include flex (flex, column, center, center);
    }

    .mapa {
        margin-right: 0px;
        margin-left: 0px;
        .iframe-mapa {
            width: 400px;
            height: 250px;
            border-radius: 10px;
        }
    }

    .transform-desktop {
        display: none;
    }
    /*contacto*/

    .main-contacto {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        .aside-contacto {
            width: 400px;
            height: 200px;
            margin-right: 0px;
            margin-top: 20px;
            padding: 10px;
        }   
    }
         
}

/*------MEDIA DE 990------*/
@media (max-width:992px) {
    .trasform-mobile {
        display: none;
    }
}

/*------MEDIA DE 578 tabla------*/
@media (min-width:577px) {
    .tabla-mobile {
        display: none;
    }
}

/*------MEDIA DE 577 tabla------*/
@media (max-width:576px) {
    .tabla-desktop {
        display: none;
    }

    .main-ubicacion {
        @include flex (flex, column, center, center);
        .mapa {
            .iframe-mapa {
                margin-top: 40px;
                width: 350px;
                height: 350px;
                border-radius: 10px;
                box-shadow: $sombra-cuadros;
            }
        }
    }    

    .introduccion {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
        .video-index {
            @include flex (flex, row, center, center);
            .iframe-youtube {
                border-radius: 15px;
                box-shadow: $sombra-cuadros;
                width: 350px;
                height: 350px;
            }
        }
    }    
}

/*------MEDIA DE 576------*/
@media (max-width:576px) {

    /*INDEX*/
    .introduccion {
        justify-content: center;
        .nosotros {
           margin-top: 20px;
           width: 350px; 
           height: 400px;
        }
        .descripcion {
           margin-top: 20px;
           width: 350px; 
           height: 200px;
        }    
    }
    

    /*COTIZADOR*/
    .tabla-desktop {
        display: none;
    }

    .tabla-mobile {
        td {
            font-size: 15px;
        }
    }

    .tabla-prueba {
        justify-content: center;
    }

    /*GALERIA*/

    .body .galeria-imagenes .section {
        grid-template-columns: repeat(1, 350px);
        grid-template-rows: repeat(6, 1fr);
    }
    .body {
        grid-template-areas:
        "intro"
        "imagen"
        "aside";
        grid-template-columns: 1fr; 
    }

    
}