@import 'bases/variables';
@import 'bases/generales';
@import 'pages/index';
@import 'pages/galeria';
@import 'pages/cotizador';
@import 'pages/ubicacion';
@import 'pages/contacto';
@import 'bases/queris';
