@import 'base/variables';
@import 'base/generales';
@import 'utilities/maps';
@import 'pages/index';
@import 'pages/galeria';
@import 'pages/cotizador';
@import 'pages/ubicacion';
@import 'pages/contacto';
@import 'queris';
