 .main-contacto {
    margin-top: 50px;
    display: flex;
    .aside-contacto {
      @include flex (flex, column, center, center);
      width: 200px;
      height: 400px;
      background-color:map-get($colores, fondo-dos );
      font-size: 15px;
      margin-right: 100px;
      box-shadow: $sombra-cuadros;
      border-radius: 15px;
      color: map-get($colores, texto-uno );
      text-align: center;
      .boton-contacto {
        @extend %boton-config;
        font-size: 10px;
        color: map-get($colores, texto-uno );
        padding: 5px;
        transition: background-color .5s;
      }
  }
    .formulario {
      background-color: white;
      margin: auto;
      width: 90%;
      max-width: 400px;
      padding: 20px;
      border-radius: 15px;
      box-shadow: $sombra-cuadros;
      text-align: center;
      .form-titulo {
        font-size: 40px;
        margin-bottom: 15px;
      }
      .form-conteiner {
        margin-top: 15px;
        .form-imput {
          width: 100%;
          background: none;
          color: grey;
          font-size: 15px;
          padding: 15px;
        }
      }
    }
 }

 

  

  

 