.cotizador {
    margin-top: 50px;
    @include flex (flex, row, center, center);
}

.dato-cotizador {
    @include flex (flex, column, center, center);
    margin-left: 20px;
}

.importante button{
    background-color: #FE4365;
    width: 200px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: map-get($colores, texto-uno );
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-align: center; 
    font-size: 25px;
    border: none;
}

.importante button a {
    text-decoration: none;
}

.otro-cotizador {
    @include flex (flex, row, center, center);
    background-color: #FE4365;
    width: 200px;
    height: 200px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    color: map-get($colores, texto-uno );
    padding: 15px;
    text-align: center;
    font-size: 15px ;
}

@keyframes otro-cotizador {
    0%{
        background-color: #FE4365;
    }

    25%{
        background-color: #fe5f43;
    }

    50%{
        background-color: #fe5f43;
    }

    100%{
        background-color: #fda16b;
    }
}

.importante:hover .otro-cotizador {
    animation-name: otro-cotizador;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.tabla {
    display: flex;
    justify-content: center;
}

.tabla-desktop {
    border-collapse: collapse;
    box-shadow: $sombra-cuadros;
    height: 400px;
}

th, td {
    border: solid 3px #000000;
    padding: 10px;
    text-align: center;
    color: rgb(247, 72, 72);

}

th {
    color: map-get($colores, texto-uno );
    background-color: #FE4365;
    font-size: 18px;
}


tr:hover {
    background-color: #FC9D9A;
    cursor: pointer;
}

