
.introduccion {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    .video-index {
        display: flex;
        height:430px;
        background-color: #83AF9B;
        box-shadow: $sombra-cuadros;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        iframe {
            border-radius: 15px;
        
        }
    }
    .nosotros {
        background-color: rgb(124, 137, 146);
        border-radius: 15px;
        text-align: center;
        box-shadow: $sombra-cuadros;
        padding-top: 20px;
        h4 {
            color: white;
        }
        
    }
    .descripcion {
        display: flex;
        background-color: #FE4365;
        height: 60px;
        border-radius: 15px;
        color: white;
        margin-top: 30px;
        box-shadow: $sombra-cuadros;
        align-items: center;
        justify-content: center;
    }
    
}

.ilustraciones {
    display: flex;
    background-color: #FC9D9A;
    margin-top: 50px;
    .ilus {
        gap: 20px;
        .card-index {
            transition: box-shadow 0.3s ease;
            background-color: rgba(225, 225, 225, 0.25);
            width: 300px;
            height: 450px;
            padding: 20px 30px;
            position: relative;
            margin-top: 30px;
            border-radius: 30px;
            cursor: pointer;
            img {
                width: 225px;
                height: 325px;
                display: block;
                margin: 0 auto;
                border-radius: 10px;
            }
            p {
                margin-top: 20px;
                text-align: center;
                color: white;
                font-size: 20px;
                border-radius: 20px;
            }
            .bodysuit {
                position: absolute;
                top: 0;
                left: 0px;
                background-color: #FE4365;
                opacity: 0.7;
            }
            
        }
    }
}

.chat {
    width: 60px;
    position: fixed;
    bottom: 100px;
    right: 30px;
}
.card-index:hover {
    box-shadow: $sombra-cuadros;
}

