
.introduccion {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    .video-index {
        @include flex (flex, row, center, center);
        .iframe-youtube {
            border-radius: 15px;
            box-shadow: $sombra-cuadros;
            width: 600px;
            height: 450px;
        }
    }
    .descripcion {
        @include flex (flex, row, center, center);
        background-color: #FE4365;
        border-radius: 15px;
        box-shadow: $sombra-cuadros;
        color: map-get($colores, texto-uno );
        height: 60px;
        margin-top: 30px;
    }
    .nosotros {
        background-color: #AEE8FB;
        border-radius: 15px;
        box-shadow: $sombra-cuadros;
        text-align: center;
        padding-top: 20px;
        h4 {
            color: map-get($colores, texto-uno );
            font-weight: bold;
            margin-bottom: 20px
        }
    }
}

.ilustraciones {
    background-color: map-get($colores, fondo-uno );
    display: flex;
    margin-top: 50px;
    box-shadow: $sombra-cuadros;
    padding: 30px;
    .ilus {
        gap: 20px;
        .card-index {
            background-color: rgba(225, 225, 225, 0.25);
            border-radius: 30px;
            cursor: pointer;
            height: 450px;
            margin-top: 30px;
            padding: 20px 30px;
            position: relative;
            transition: box-shadow 0.3s ease;
            width: 300px;
            img {
                border-radius: 10px;
                display: block;
                height: 325px;
                margin: 0 auto;
                width: 225px;
            }
            p {               
                border-radius: 20px;
                color: map-get($colores, texto-uno );
                font-size: 20px;
                margin-top: 10px;
                text-align: center;
            }
            .bodysuit {
                background-color: #FE4365;
                left: 0px;
                opacity: 0.7;
                position: absolute;
                top: 0;
            }
            
        }
    }
}

.chat {
    bottom: 100px;
    position: fixed;
    right: 30px;
    width: 60px;
}
.card-index:hover {
    box-shadow: $sombra-cuadros;
}

