
/*SECTOR DEL MAPA*/

.main-ubicacion {
    @include flex (flex, row, center, center);
    .mapa {
        z-index: 1;
        .iframe-mapa {
            margin-top: 40px;
            width: 610px;
            height: 450px;
            border-radius: 10px;
            box-shadow: $sombra-cuadros;
        }
    }

/*ELEMENTOS PARA ANIMAR EN DESKTOP*/

    .boton-ubicacion {
        margin-left: 50px;
        button {
            background-color: #FE4365;
            border-radius: 5px;
            padding: 5px;
            margin-bottom: 20px;
            border: none;
            margin-top: 40px;
            color: map-get($colores, texto-uno );
            border: 2px solid black
        }
    }
    .globo-ubicacion {
        @include flex (flex, row, center, center);
        width: 200px;
        height: 200px;
        border-radius: 20px;
        background-color: map-get($colores, fondo-dos );
        color: map-get($colores, texto-uno );
        text-transform: uppercase;
        transition: 1s;
        padding: 15px;
        transition-timing-function: ease-out;
        margin-top: 50px;
        text-align: center;
        transform: translateX(-300px);
    }
}

.transform-mobile{
    @include flex (flex, column, center, center);
      width: 200px;
      height: 150px;
      background-color:map-get($colores, fondo-uno );
      font-size: 15px;
      box-shadow: $sombra-cuadros;
      border-radius: 15px;
      color: map-get($colores, texto-uno );
      text-align: center;
      margin-top: 20px;
      padding: 10px;
      button {
        @extend %boton-config;
        font-size: 10px;
        color: map-get($colores, texto-uno );
        padding: 5px;
        transition: background-color .5s;
        a {
            text-decoration: none;
        }
      }
}
/*ANIMACIONES*/

.boton-ubicacion a {
    text-decoration: none;
}

.boton-ubicacion button:hover + .globo-ubicacion {
    transform: translateX(0px);
}
