* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

body {
background-color: #EBEFC9;
background-image:  radial-gradient(#c5cc87 2px, transparent 2px), radial-gradient(#c5cc87 2px, #EBEFC9 2px);
background-size: 80px 80px;
background-position: 0 0,40px 40px;
}

header {
    justify-content: center;
    display: flex;
    background-color: #83AF9B;
    box-shadow: $sombra-cuadros;
    nav div a {
        text-decoration: none;
        img {
            height: 100px;
            width: 400px;
        }
    }
    nav div ul li {
        margin-left: 50px;
    } 
      
}


/*TITULO DE LA CABECERA GENERAL*/

.titulo-cabecera {
    text-align: center;
    color: #B28939;
    background-image: url(../img/fondo-titulo.webp);
    background-position:center;
    height: 450px;
    margin-top: 20px;
    box-shadow: $sombra-cuadros;
    border-radius: 15px;
    h1 {
        font-size: 50px;
    }
}

/*FOOTER*/

.afip {
    left: 10%;
    margin-top: 20px;
    margin-left: 20px;
}

.boton-inicio {
    width: 70px;
    height: 40px;
    background: linear-gradient(to right, #FE4365, #AEE8FB) ;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.boton-inicio a {
    text-decoration: none;
}

.contenido-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.derechos {
    left: 40%;
    margin-top: 30px;
    text-align: center;
}

footer {
    margin-top: 50px;
    height: 100px;
}

footer button {
    color: black;
    border-radius: 10px;
    text-decoration: none;
    font-size: 15px;
}

footer img {
    height: 60px;
    width: 60px;
}

.redes {
    right: 20%;
    margin-top: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}
